<div class="ibox float-e-margins pop-kecil">
    <div class="ibox-title">
        <h5>Input New Rekap absen</h5>
        <div class="ibox-tools">
            <a ng-click="backButton('absen.absenrekap')" class="close-link">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>

    <form ng-submit="submitForm()" >
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-6 b-r">

                    <div class="form-group">
                        <label>Tanggal rekap</label>
                        <input required placeholder="Enter" ng-model="absenrekap.tanggal_rekap" class="form-control" type="date">
                    </div>

                    <div class="form-group">
                        <label>Tanggal absen</label>
                        <input required placeholder="Enter" ng-model="absenrekap.tanggal_absen" class="form-control" type="date">
                    </div>
                    <div class="form-group">
                        <label>Jam Masuk</label>
                        <input required placeholder="Enter masuk" class="form-control" ng-model="absenrekap.masuk" type="time">
                    </div>
                    <div class="form-group">
                        <label>Jam Keluar</label>
                        <input placeholder="Enter keluar" class="form-control" ng-model="absenrekap.keluar" type="time">
                    </div>
                    <div class="form-group">
                        <label>Lama disekolah</label>
                        <input required placeholder="Enter lama disekolah" class="form-control" ng-model="absenrekap.lama_disekolah" type="text">
                    </div>


                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Telat</label>
                        <input required placeholder="Enter telat" class="form-control" ng-model="absenrekap.telat" type="text">
                    </div>
                    <div class="form-group">
                    <label>Nama murid</label>
                    <select required class="form-control " required select2 ng-model="absenrekap.id_murid"
                            ng-options="x.id_murid*1 as x.nama_murid for x in absen.murid" >
                        <option value="">-- please choose --</option>
                    </select>
                    </div>
                    <div class="form-group">
                    <label>Nama guru</label>
                    <select required class="form-control " required select2 ng-model="absenrekap.id_guru"
                            ng-options="x.id_guru*1 as x.nama_guru for x in absen.guru" >
                        <option value="">-- please choose --</option>
                    </select>
                    </div>
                    <div class="form-group">
                        <label>Report</label>
                        <input required placeholder="Enter report" class="form-control" ng-model="absenrekap.report" type="text">
                    </div>

                </div>

                <div class="col-sm-12">
                    <hr>
                    <div class="pull-left">
                        <p>Please check from before save*</p>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-sm btn-primary m-t-n-xs" type="submit">
                            <i class="fa fa-save"></i> &nbsp;
                            <strong> Save</strong></button>
                    </div>

                </div>

            </div>
        </div>
    </form>

</div>
