<div class="ibox float-e-margins pop-kecil">
    <div class="ibox-title">
        <h5>Input New Master Absen</h5>
        <div class="ibox-tools">
            <a ng-click="backButton('master.absen')" class="close-link">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>

    <form ng-submit="submitForm()" >
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-6 b-r">


                    <div class="form-group">
                        <label>Murid</label>
                        <select required class="form-control " select2 ng-model="absen.id_murid"
                            ng-options="x.id_murid*1 as x.nama_murid for x in master.murid" >
                                <option value="">-- please choose --</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Jam masuk</label>
                        <input required placeholder="Enter jam masuk" ng-model="absen.jam_masuk" class="form-control" type="time">
                    </div>
                    <div class="form-group">
                        <label>Jam keluar</label>
                        <input required placeholder="Enter jam keluar" class="form-control" ng-model="absen.jam_keluar" type="time">
                    </div>
                    <div class="form-group">
                        <label>Lama disekolah</label>
                        <input required placeholder="Enter lama disekolah" class="form-control" ng-model="absen.lama_disekolah" type="number">
                    </div>


                </div>
                <div class="col-sm-6">

                    <div class="form-group">
                        <label>Toleransi telat</label>
                        <input required placeholder="Enter tolensi telat" class="form-control" ng-model="absen.toleransi_telat" type="number">
                    </div>
                    <div class="form-group">
                        <label>Max cuti</label>
                        <input required placeholder="Enter max cuti" class="form-control" ng-model="absen.max_cuti" type="number">
                    </div>
                    <div class="form-group">
                        <label>Max izin</label>
                        <input required placeholder="Enter max izin" class="form-control" ng-model="absen.max_izin" type="number">
                    </div>
                </div>

                <div class="col-sm-12">
                    <hr>
                    <div class="pull-left">
                        <p>Please check from before save*</p>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-sm btn-primary m-t-n-xs" type="submit">
                            <i class="fa fa-save"></i> &nbsp;
                            <strong> Save</strong></button>
                    </div>

                </div>

            </div>
        </div>
    </form>

</div>
