
<div class="wrapper wrapper-content  animated fadeInRight" >
    <!--ng-show="$state.current.name === 'acl.users'"-->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Absen</h5>
                    <div class="ibox-tools">
                        <a ui-sref="master.absen.add" class="btn btn-primary btn-xs">Add new</a>
                    </div>
                </div>
                <div ui-view></div>

                <div class="ibox-content">

                    <div class="m-b-lg">

                        <strong>Found {{datas.length}} issues.</strong>

                    </div>

                    <div class="table-responsive">
                        <table class="table table-hover issue-tracker">
                            <thead>
                            <tr>
                                <th width="2px">No</th>
                                <th>Murid</th>
                                <th>Jam masuk</th>
                                <th>Jam keluar</th>
                                <th>Lama disekolah</th>
                                <th>Toleransi telat</th>
                                <th>Max cuti</th>
                                <th>Max izin</th>
                                <th class="text-center">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="x in datas.data">
                                <td>
                                    {{ $index +1}}
                                </td>
                                <td>
                                    {{x.nama_murid}}
                                </td>
                                <td>
                                    jam {{x.jam_masuk | date: "HH:mm:ss"}}
                                </td>
                                <td>
                                    jam {{x.jam_keluar | date: "HH:mm:ss"}}
                                </td>
                                <td>
                                    {{x.lama_disekolah | number}} menit
                                </td>
                                <td>
                                    {{x.toleransi_telat | number}} menit
                                </td>
                                <td>
                                    {{x.max_cuti}}
                                </td>
                                <td>
                                    {{x.max_izin}}
                                </td>
                                <td class="text-center">
                                    <a ui-sref="master.absen.edit({id_m_absen:x.id_m_absen})" ng-click="gotoTop()" class="btn btn-white btn-xs"> Edit</a>
                                    <a ng-dblclick="delete(x.id_m_absen)" class="btn btn-white btn-xs"> Delete</a>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="btn-group" ng-init="datas.current_page = datas.current_page+1">
                    <button type="button" ng-show="datas.current_page*1 > 1 " ng-click="filter(datas.current_page*1 - 1)" class="btn btn-white"><i class="fa fa-chevron-left"></i></button>
                    <button class="btn btn-white" ng-show="datas.current_page -2 > 0 " ng-click="filter(datas.current_page*1 - 2)">{{datas.current_page*1 -2 }}</button>
                    <button class="btn btn-white" ng-show="datas.current_page -1 > 0 " ng-click="filter(datas.current_page*1 - 1)">{{datas.current_page*1 -1 }}</button>
                    <button class="btn btn-white active">{{datas.current_page}}</button>
                    <button class="btn btn-white" ng-if="(datas.current_page*1 +1) <= datas.last_page " ng-click="filter(datas.current_page*1 + 1)">{{datas.current_page*1 +1}}</button>
                    <button class="btn btn-white" ng-if="datas.current_page*1 +2 <=  datas.last_page " ng-click="filter(datas.current_page*1 + 2)">{{datas.current_page*1 +2}}</button>
                    <button class="btn btn-white" ng-if=" datas.last_page > datas.current_page*1 > 0  " ng-click="filter(datas.current_page*1 + 1)"><i class="fa fa-arrow-right"></i></button>
                </div>

            </div>
        </div>
    </div>


</div>
