
<div class="wrapper wrapper-content  animated fadeInRight" >
    <!--ng-show="$state.current.name === 'acl.users'"-->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Aircraft</h5>
                    <div class="ibox-tools">
                        <a ui-sref="master.aircraft.add" class="btn btn-primary btn-xs">Add new</a>
                    </div>
                </div>
                <div ui-view></div>

                <div class="ibox-content">

                    <div class="m-b-lg">

                        <strong>Found {{datas.length}} issue(s).</strong>

                    </div>

                    <div class="table-responsive">
                        <table class="table table-hover issue-tracker">
                            <thead>
                            <tr>
                                <th class="text-center">Status</th>
                                <th>Registration Number</th>
                                <th>Actype</th>
                                <th>Tendurance</th>
                                <th>Reason Regs Change</th>
                                <th>Serial Number</th>
                                <th>Hasapu</th>
                                <th>Purchase Date</th>
                                <th class="text-center">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="x in datas.data">
                                <td class="text-center">
                                    <span class="label label-{{x.is_deleted==0?'primary':'warning'}}">{{x.is_deleted==1?'Disable':'Enabled'}}</span>
                                </td>
                                <td>
                                  <a href="#">
                                      {{x.registration_number}}
                                  </a>
                                </td>
                                <td>
                                    {{x.actype}}
                                </td>
                                <td>
                                    <a href="#">
                                        {{x.tendurance}}
                                    </a>
                                </td>
                                <td>
                                    {{x.reason_regschange}}
                                </td>
                                <td>
                                    {{x.serial_number}}
                                </td>
                                <td>
                                    {{x.hasapu}}
                                </td>
                                <td>
                                    {{x.purchasedate}}
                                </td>

                                <td class="text-center">
                                    <a ui-sref="master.aircraft.edit({id_aircraft:x.id_aircraft})" ng-click="gotoTop()" class="btn btn-white btn-xs"> Edit</a>
                                    <a ng-dblclick="delete(x.id_aircraft)" class="btn btn-white btn-xs"> Disable</a>
                                </td>

                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>



            </div>
        </div>
    </div>


</div>
