
<div class="wrapper wrapper-content  animated fadeInRight" >
    <div ui-view></div>
    <div class="row" ng-show="$state.current.name === 'admin.guru'">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Data Guru</h5>
                    <div class="ibox-tools">
                        <a ui-sref="admin.guru.add" class="btn btn-primary btn-xs">Add new</a>
                    </div>
                </div>

                <div class="ibox-content">
                    <div class="row">

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>NIP</label>
                                <input placeholder="" ng-model="filters.nip" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Nama Guru</label>
                                <input placeholder="" ng-model="filters.nama_guru" class="form-control" type="text">
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="input-group">
                                <label>Status</label>
                                <select required class="form-control " required select2 ng-model="filters.status_guru"
                                        ng-options="x as x for x in status_guru" >
                                    <option value="">-- please choose --</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <label>Sekolah</label>
                                <select required class="form-control " required select2 ng-model="filters.sekolah"  >
                                    <option value="">-- please choose --</option>
                                    <option value="mansabo"> MANSABO</option>
                                    <option value="mansasi"> MANSASI</option>
                                </select>
                            </div>
                        </div>


                        <div class="col-md-2">
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <button class="btn btn-block btn-success" ng-click="filter(1)"><i class="fa fa-filter"></i> Filter</button>
                            </div>
                        </div>

                    </div>
                    <div class="table-responsive" id="table-scroll" full-scroll="">
                        <table class="table table-hover table-bordered">
                            <thead>
                            <tr>
                                <th>NIP</th>
                                <th>NUPTK</th>
                                <th>email login</th>
                                <th>Nama guru</th>
                                <th>Sekolah</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="x in datas|filter:search">
                                <td>

                                    <div class="btn-group">
                                        <b data-toggle="dropdown" class="pointer dropdown-toggle" aria-expanded="false">{{x.nip}}</b>
                                        <ul class="dropdown-menu">
                                            <li><a ui-sref="admin.guru.detail.gurump({id_guru:x.id_guru})" >View</a></li>
                                            <li class="divider"></li>
                                            <li><a ui-sref="admin.guru.edit({id_guru:x.id_guru})" ng-click="gotoTop()" > Edit</a></li>
                                            <li><a ng-click="delete(x.id_guru)" > Delete</a></li>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    {{x.nuptk}}
                                </td>
                                <td>
                                    {{x.email_login}}
                                </td>
                                <td>
                                    {{x.nama_guru}}
                                </td>

                                <td>
                                    {{x.sekolah}}
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<script>
    setTimeout(function(){
        tableScroll()
    })
</script>
