
<div class="wrapper wrapper-content  animated fadeInRight" >
    <!--ng-show="$state.current.name === 'acl.users'"-->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Rekap absen</h5>
                    <div class="ibox-tools">
                        <a ui-sref="master.absenrekap.add" class="btn btn-primary btn-xs">Add new</a>
                    </div>
                </div>
                <div ui-view></div>

                <div class="ibox-content">

                    <div class="row">
                        <div class="col-md-2">SizePage :
                            <select ng-model="entryLimit" class="form-control">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>50</option>
                                <option>100</option>
                            </select>
                        </div>
                        <div class="col-md-6">Filter :
                            <input type="text" ng-model="search" ng-change="filter()" placeholder="Filter" class="form-control" />
                        </div>
                        <div class="col-md-4">
                            <h5>Colum {{ entryLimit }} of {{ datas.length }} total murid</h5>
                        </div>
                    </div>
                    <br/>

                    <div class="table-responsive">
                        <table class="table table-hover issue-tracker">
                            <thead>
                            <tr>
                                <th width="2px">No</th>
                                <th ng-click="sort_by('tanggal_rekap');" style="cursor: pointer;">Tgl lekap&nbsp;&nbsp;<i class="glyphicon glyphicon-sort"></i></th>
                                <th ng-click="sort_by('tanggal_absen');" style="cursor: pointer;">Tgl absen&nbsp;&nbsp;<i class="glyphicon glyphicon-sort"></i></th>
                                <th>Masuk(jam)</th>
                                <th>Keluar(jam)</th>
                                <th>Lama disekolah</th>
                                <th>Telat(menit)</th>
                                <th ng-click="sort_by('nama_murid');" style="cursor: pointer;">Nama murid&nbsp;&nbsp;<i class="glyphicon glyphicon-sort"></i></th>
                                <th ng-click="sort_by('nama_guru');" style="cursor: pointer;">Nama guru&nbsp;&nbsp;<i class="glyphicon glyphicon-sort"></i></th>
                                <th>Report</th>
                                <th class="text-center" width="120">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="x in datas |filter:search|orderBy:predicate:reverse|limitTo:entryLimit"">
                                <td>
                                    {{ $index +1}}
                                </td>
                                <td>
                                    {{x.tanggal_rekap | date: "yyyy/MM/dd"}}
                                </td>
                                <td>
                                    {{x.tanggal_absen | date: "yyyy/MM/dd"}}
                                </td>
                                <td>
                                    {{x.masuk | date: "HH:mm:ss"}}
                                </td>
                                <td>
                                    {{x.keluar | date: "HH:mm:ss"}}
                                </td>
                                <td>
                                    {{x.lama_disekolah | number}} jam
                                </td>
                                <td>
                                    {{x.telat | number}}
                                </td>
                                <td>
                                    {{x.nama_murid}}
                                </td>
                                <td>
                                    {{x.nama_guru}}
                                </td>
                                <td>
                                    {{x.report}}
                                </td>

                                <td class="text-center">
                                    <a ui-sref="master.absenrekap.edit({id_rekap_absen:x.id_rekap_absen})" ng-click="gotoTop()" class="btn btn-white btn-xs"> Edit</a>
                                    <a ng-dblclick="delete(x.id_rekap_absen)" class="btn btn-white btn-xs"> Delete</a>
                                </td>

                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                

            </div>
        </div>
    </div>


</div>
