
<div class="wrapper wrapper-content  animated fadeInRight" >
    <div ui-view></div>
    <div class="row" ng-show="$state.current.name === 'murid.murids'">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Data murids</h5>
                </div>

                <div class="ibox-content">
                    <div class="m-b-lg">
                        <strong>Found {{datas.length}} issues.</strong>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" ng-model="search" ng-change="filter()" placeholder="Filter" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <button class="btn btn-block btn-success" ng-click="filter(1)"><i class="fa fa-filter"></i> Filter</button>

                            </div>
                        </div>
                    </div>
                    <div class="table-responsive" id="table-scroll" full-scroll="">
                        <table class="table table-bordered table-hover issue-tracker">
                            <thead>
                            <tr>
                                <th width="2px">#No</th>
                                <th>Nama murid</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="x in datas|filter:search">
                                <td>
                                    {{ $index +1}}
                                </td>
                                <td>
                                    <div class="profile-element" uib-dropdown>
                                        <a uib-dropdown-toggle href>
                                            <span class="clear">
                                                <span class="text-muted text-xs block"><strong>{{ x.nama_murid }}</strong>
                                            </span>
                                        </a>
                                        <ul uib-dropdown-menu class="animated fadeInRight m-t-xs">
                                            <li><a ui-sref="murid.murids.detailmurids({id_murid:x.id_murid})">View murid</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>
