<ui-view></ui-view>

<div ng-show="$state.current.name === 'guru.kelas.detail.absensi'">
    <h3>Rekap Absensi
        <a class="pull-right" ui-sref="guru.kelas.detail.absensi.add">
            <i class="fa fa-plus"></i> Input
        </a>
    </h3>
    <table class="table table-bordered">
        <tr>
            <th width="50px" rowspan="2">No</th>
            <th rowspan="2">NIS</th>
            <th rowspan="2">Nama Siswa</th>
            <th class="text-center" colspan="{{total}}">Kehadiran</th>
            <th>Total</th>
        </tr>
        <tr>
            <td ng-repeat=" n in [] | range:total ">Per{{$index+1}}</td>
            <td>{{total}}</td>
        </tr>
        <tr ng-repeat="x in absensis">
            <td>{{$index+1}}</td>
            <td>{{x.nis}}</td>
            <td>{{x.nama_murid}}</td>
            <td class="text-center" ng-repeat="y in x.absen" title="{{y.alasan}}">{{y.kehadiran ==1 ? '&#10004;' :'&#88;'}}</td>
            <td></td>
        </tr>
    </table>

</div>