
<div class="wrapper wrapper-content  animated fadeInRight" >
    <!--ng-show="$state.current.name === 'acl.users'"-->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Nilai</h5>
                    <div class="ibox-tools">
                        <a ui-sref="master.nilai.add" class="btn btn-primary btn-xs">Add new</a>
                    </div>
                </div>
                <div ui-view></div>

                <div class="ibox-content">

                    <div class="row">
                        <div class="col-md-2">SizePage :
                            <select ng-model="entryLimit" class="form-control">
                                <option>5</option>
                                <option>10</option>
                                <option>20</option>
                                <option>50</option>
                                <option>100</option>
                            </select>
                        </div>
                        <div class="col-md-6">Filter :
                            <input type="text" ng-model="search" ng-change="filter()" placeholder="Filter" class="form-control" />
                        </div>
                        <div class="col-md-4">
                            <h5>Colum {{ entryLimit }} of {{ datas.length }} total murid</h5>
                        </div>
                    </div>
                    <br/>
                    <div class="table-responsive">
                        <table class="table table-hover issue-tracker">
                            <thead>
                            <tr>
                                <th width="2px">No</th>
                                <th>ID Gurumk</th>
                                <th ng-click="sort_by('jenis');" style="cursor: pointer;">IDJenis nilai&nbsp;&nbsp;<i class="glyphicon glyphicon-sort"></i></th>
                                <th ng-click="sort_by('nama_murid');" style="cursor: pointer;">Nama murid&nbsp;&nbsp;<i class="glyphicon glyphicon-sort"></i></th>
                                <th ng-click="sort_by('nilai');" style="cursor: pointer;">Nilai&nbsp;&nbsp;<i class="glyphicon glyphicon-sort"></i></th>
                                <th>Rumus</th>
                                <th>Nilai akhir</th>
                                <th>SMT</th>
                                <th class="text-center">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="x in datas |filter:search|orderBy:predicate:reverse|limitTo:entryLimit">
                                <td>
                                    {{ $index +1}}
                                </td>
                                <td>
                                    {{x.id_guru_mk}}
                                </td>
                                <td>
                                    {{x.jenis}} point
                                </td>
                                <td>
                                    {{x.nama_murid}}
                                </td>
                                <td>
                                    {{x.nilai | number}} point
                                </td>
                                <td>
                                    {{x.rumus}}
                                </td>
                                <td>
                                    {{x.nilai_akhir | number}} point
                                </td>
                                <td>
                                    {{x.smt}}
                                </td>


                                <td class="text-center">
                                    <a ui-sref="master.nilai.edit({id_nilai:x.id_nilai})" ng-click="gotoTop()" class="btn btn-white btn-xs"> Edit</a>
                                    <a ng-dblclick="delete(x.id_nilai)" class="btn btn-white btn-xs"> Delete</a>
                                </td>

                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
    </div>


</div>
