
<div class="wrapper wrapper-content  animated fadeInRight" >
    <!--ng-show="$state.current.name === 'acl.users'"-->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Condition Monitoring</h5>
                    <div class="ibox-tools">
                        <a ui-sref="master.condition_monitoring.add" class="btn btn-primary btn-xs">Add new</a>
                    </div>
                </div>
                <div ui-view></div>

                <div class="ibox-content">

                    <div class="m-b-lg">

                        <strong>Found {{datas.length}} issues.</strong>

                    </div>

                    <div class="table-responsive">
                        <table class="table table-hover issue-tracker">
                            <thead>
                            <tr>
                                <th class="text-center">Status</th>
                                <th>Condition Monitoring</th>
                                <th>Childname</th>
                                <th class="text-center">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="x in datas">
                                <td class="text-center">
                                    <span class="label label-primary">Aktif</span>
                                </td>
                                <td class="issue-info">
                                    <a href="#">
                                        {{x.condition_monitoring}}
                                    </a>
                                </td>
                                <td>
                                    {{x.childname_condition_monitoring}}
                                </td>
                                <td class="text-center">
                                    <a ui-sref="master.condition_monitoring.edit({id_condition_monitoring:x.id_condition_monitoring})" ng-click="gotoTop()" class="btn btn-white btn-xs"> Edit</a>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>



            </div>
        </div>
    </div>


</div>
