<div class="ibox float-e-margins pop-kecil">
    <div class="ibox-title">
        <h5>Edit Murid kelas</h5>
        <div class="ibox-tools">
            <a ng-click="backButton('master.muridkelas')" class="close-link">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
    <form ng-submit="submitForm()" >
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-6 b-r">

                    <div class="form-group">
                        <label>ID Murid</label>
                        <input required placeholder="Enter " ng-model="muridkelas.id_murid" class="form-control" type="number">
                    </div>
                    <div class="form-group">
                        <label>Tingkat</label>
                        <input required placeholder="Enter tingkat" ng-model="muridkelas.tingkat" class="form-control" type="number">
                    </div>
                    <div class="form-group">
                        <label>ID Jurusan</label>
                        <input required placeholder="Enter id jurusan" ng-model="muridkelas.id_jurusan" class="form-control" type="number">
                    </div>
                    <div class="form-group">
                        <label>Kelas Paralel</label>
                        <input required placeholder="Enter kelas paralel" class="form-control" ng-model="muridkelas.kelas_paralel" type="text">
                    </div>
                    <div class="form-group">
                        <label>No Absen</label>
                        <input required placeholder="Enter no absen" class="form-control" ng-model="muridkelas.no_absen" type="number">
                    </div>
                    <div class="form-group">
                        <label>ID Status Murid</label>
                        <input required placeholder="Enter id status murid" class="form-control" ng-model="muridkelas.id_status_murid" type="number">
                    </div>
                    <div class="form-group">
                        <label>Status Murid</label>
                        <input required placeholder="Enter status murid" class="form-control" ng-model="muridkelas.status_murid" type="text">
                    </div>

                </div>
                <div class="col-sm-6">

                    <div class="form-group">
                        <label>Tanggal Berlaku</label>
                        <input required placeholder="Enter " class="form-control" ng-model="muridkelas.tanggal_berlaku" type="date">
                    </div>
                    <div class="form-group">
                        <label>ID Guru wali kelas</label>
                        <input required placeholder="Enter " class="form-control" ng-model="muridkelas.id_guru_wali_kelas" type="number">
                    </div>
                    <div class="form-group">
                        <label>Guru wali kelas</label>
                        <input required placeholder="Enter wali kelas " class="form-control" ng-model="muridkelas.guru_wali_kelas" type="text">
                    </div>
                    <div class="form-group">
                        <label>SMT</label>
                        <input required placeholder="Enter smt" class="form-control" ng-model="muridkelas.smt" type="text">
                    </div>
                    <div class="form-group">
                        <label>ID guru</label>
                        <input required placeholder="Enter " class="form-control" ng-model="muridkelas.id_guru" type="text">
                    </div>
                </div>

                <div class="col-sm-12">
                    <hr>
                    <div class="pull-left">
                        <p>Please check from before save*</p>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-sm btn-primary m-t-n-xs" type="submit">
                            <i class="fa fa-save"></i> &nbsp;
                            <strong> Save</strong></button>
                    </div>

                </div>

            </div>
        </div>
    </form>

</div>