<ui-view></ui-view>
<div class="wrapper wrapper-content  animated fadeInRight" ng-show="$state.current.name === 'murid.ujian'">


<div class="row" >
    <div class="col-lg-4" ng-repeat="x in ujian">
        <div class="widget-head-color-box {{x.is_puplish==1? 'navy':'yellow'}}-bg p-lg text-center">
            <div class="m-b-md">
                <h2 class="font-bold no-margins">
                    {{x.judul | uppercase}}
                </h2>
                <small>{{x.jenis | uppercase}}</small>
            </div>
            <div>
                <span>Kelas {{x.kelas}}</span> |
                <span>Jurusan {{x.jurusan}}</span> |
                <span>Paralel {{x.kelas_paralel}}</span>
            </div>
        </div>
        <div class="widget-text-box">
            <h4 class="media-heading">{{x.mata_pelajran}}</h4>
            <p>Berlaku <b>{{x.tanggal_ujian | Mydate}}</b> sampai <b>{{x.tanggal_ujian_sampai | Mydate}}</b></p>
            <h4>{{x.waktu}} Menit</h4>
            <div class="text-right">
                <!--<a ng-if="x.id_murid" class="btn btn-xs btn-white"><i class="fa fa-deskpro"></i> Tampilkan </a>-->
                <a ng-if="x.is_puplish==1 && x.id_murid == null" ui-sref="murid.ujian.mulai({id:x.id_ujian})" class="btn btn-xs btn-primary"><i class="fa fa-play"></i> Mulai</a>
            </div>
            <div ng-if="x.id_murid">
                <hr>
                <h4>Nilai {{x.nilai}} dari {{x.total_soal}} total soal</h4>
            </div>
        </div>
    </div>

</div>
</div>