<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row" id="detail_fix">
        <div class="col-lg-2 p-r-0 border-right">
            <div class="ibox float-e-margins">
                <div class="ibox-title bg-info">
                    <h5>{{ujian.judul}}</h5>
                </div>
                <div class="ibox-content no-kiri-kanan border-left border-right">
                    <div style="padding: 10px;">
                        <strong>Total Soal</strong><br>
                        {{soal.length}} Soal<br>
                        <strong>Mulai Ujian</strong><br>
                        {{jawaban.tanggal_ujuan}}
                    </div>

                    <table class="table table-bordered">
                        <tr ng-repeat="x in soal">
                            <td width="50px">{{$index+1}}</td>
                            <td class="{{x.jawaban != null ? 'bg-info' :''}}" >A</td>
                            <td >B</td>
                            <td >C</td>
                            <td >D</td>
                            <td >E</td>
                        </tr>


                    </table>

                </div>
                <div class="ibox-footer">


                </div>
            </div>

        </div>

        <div class="col-lg-10 p-l-0">
            <div class="ibox float-e-margins">
                <div class="ibox-title  " >
                    <h5>{{urutan}}  </h5> <span class="pull-right">{{jawaban.tanggal_ujuan}}</span>
                </div>
                <div class="ibox-content border-left border-right" full-scroll="">

                    <div ng-show="$state.current.name === 'murid.ujian.mulai'">

                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h1>Apakah Anda yakin untuk memulai Ujian</h1>
                            </div>
                            <div class="col-md-12 text-center">
                                <h1>ATUTAN DAN KETENTUAN</h1>
                                <p>{{ujian.aturan}}</p>
                            </div>
                            <div class="col-md-12 text-center">
                                <h4> {{sekarang | date:'HH:mm:ss' }} </h4>
                            </div>
                        </div>
                        <br>
                        <hr>

                        <div class="row">
                            <div class="col-md-6 text-center">
                                 <button class="btn btn-block">Batal</button>
                            </div>
                            <div class="col-md-6 text-center">
                                 <button ng-click="mulai()" class="btn btn-block btn-info">Mulai</button>
                            </div>
                        </div>

                    </div>
                    <ui-view></ui-view>

                </div>
                <div class="ibox-footer">
                 <span class="pull-right">

                 </span>

                </div>
            </div>

        </div>


    </div>
</div>

<script>

    setTimeout(function () {
        fixDetailHeight()
    })
</script>