<div class="row" ng-if="selesai==false">
    <div class="col-md-12">
        <p ng-bind-html="pertanyaan.soal | unsafe"></p>
    </div>
    <div class="col-md-12 ">
        <br>
        <strong>Jawaban</strong>
        <table class="table">
            <tr>
                <td width="30px" class="text-right">
                    <b>A.</b>
                </td>
                <td width="40px">
                    <input style="height: 20px; margin: 0" type="radio" value="a" ng-model="pertanyaan.jawaban" class="form-control">

                </td>
                <td>
                    <p ng-bind-html="pertanyaan.a | unsafe"></p>
                </td>
            </tr>
            <tr>
                <td width="30px" class="text-right">
                    <b>B.</b>
                </td>
                <td width="40px">
                    <input style="height: 20px; margin: 0" type="radio" value="b" ng-model="pertanyaan.jawaban" class="form-control">

                </td>
                <td>
                    <p ng-bind-html="pertanyaan.b | unsafe"></p>
                </td>
            </tr>
            <tr>
                <td width="30px" class="text-right">
                    <b>C.</b>
                </td>
                <td width="40px">
                    <input style="height: 20px; margin: 0" type="radio" value="c" ng-model="pertanyaan.jawaban" class="form-control">
                </td>
                <td>
                    <p ng-bind-html="pertanyaan.c | unsafe"></p>
                </td>
            </tr>
            <tr>
                <td width="30px" class="text-right">
                    <b>D.</b>
                </td>
                <td width="40px">
                    <input style="height: 20px; margin: 0" type="radio" value="d" ng-model="pertanyaan.jawaban" class="form-control">

                </td>
                <td>
                    <p ng-bind-html="pertanyaan.d | unsafe"></p>
                </td>
            </tr>
            <tr>
                <td width="30px" class="text-right">
                    <b>E.</b>
                </td>
                <td width="40px">
                    <input style="height: 20px; margin: 0" type="radio" value="e" ng-model="pertanyaan.jawaban" class="form-control">

                </td>
                <td>
                    <p ng-bind-html="pertanyaan.e | unsafe"></p>
                </td>
            </tr>
        </table>
    </div>
</div>
<br>
<hr>

<div class="row">
    <div class="col-md-6 text-center">
        <button class="btn btn-block" ng-click="kembali()">Kembali</button>
    </div>
    <div class="col-md-6 text-center">
        <button ng-if="selesai==false" ng-click="nextTanyo()" class="btn btn-block btn-info">Selanjutnya</button>
        <button ng-if="selesai"  ng-click="simpan_selesai()" class="btn btn-block btn-info">Selesai</button>
    </div>
</div>