  <div class="row" id="detail_fix">

     <div class="col-lg-12">
         <div class="ibox float-e-margins">
             <div class="ibox-title ">
                 <div  class="ng-scope">
                     <div class="ibox-tools dropdown" uib-dropdown="">

                          <table class="">
                            <tr ng-repeat="x in murids| limitTo:1">
                              <td><h5><strong> MURID : {{x.nama_murid | uppercase}} </strong></h5></td>
                            </tr>
                          </table>
                     </div>
                 </div>
             </div>
             <div class="ibox-content" id="table-scroll" full-scroll="">
                <ul class="list-group elements-list">
                    <table class="table-responsive">
                        <tr ng-repeat="x in murids.data|limitTo:1">
                            <td><li class="list-group-item" ui-sref-active="active"><a ui-sref="murid.murids.detailmurids({id_murid:x.id_murid})" >
                            <strong>Murid</strong>
                            </a></li></td>
                            <td><li class="list-group-item"><a ui-sref="murid.murids.detail({id_murid:x.id_murid})" >
                            <strong>Tab tab</strong>
                            </a></li></td>
                        </tr>
                    </table>
                </ul>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" ng-model="search" ng-change="filter()" placeholder="Filter" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <button class="btn btn-block btn-success" ng-click="filter(1)"><i class="fa fa-filter"></i> Filter</button>
                           </div>
                    </div>
                </div>
                <div class="table-responsive" id="table-scroll" full-scroll="">
                    <table class="table table-bordered table-hover issue-tracker">
                        <thead>
                        <tr>
                            <th width="2px">#No</th>
                            <th>Mata pelajaran</th>
                            <th>Guru mata pelajaran</th>
                            <th>Jumlah pertemuan</th>
                            <th>Sakit</th>
                            <th>Alfa</th>
                            <th>Kehadiran</th>
                            <th>Kelas</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="x in murids.data|filter:search">
                            <td>
                                {{ $index +1}}
                            </td>
                            <td>
                                {{x.mata_pelajaran}}
                            </td>
                            <td>
                                {{x.nama_guru}}
                            </td>
                            <td>
                                {{x.}}
                            </td>
                            <td>
                                {{x.}}
                            </td>
                            <td>
                                {{x.}}
                            </td>
                            <td>
                                {{x.}}
                            </td>
                            <td>
                                {{x.kelas}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <ui-view></ui-view>
        </div>
    </div>
</div>
<script>
    setTimeout(function(){
        fixDetailHeight()
    })
</script>