<ui-view></ui-view>

<div>
    <h3>Riwayat Kelas  </h3>

    <div class="table-responsive" id="table-scroll" full-scroll="">
        <table class="table  th-gray table-bordered">
            <thead>
            <tr>
                <th>Kelas</th>
                <th>SMT</th>
                <th>Jurusan</th>
                <th>Paralel</th>
                <th>Walikelas</th>
                <th>Status</th>
                <th>Keterangan</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="x in kelas">

                <td>{{x.kelas}} </td>
                <td>{{x.smt}} {{x.smt_out == 0 ? 'Genap':'ganjil'}} </td>
                <td>{{x.jurusan}} </td>
                <td>{{x.kelas_paralel}} </td>
                <td>{{x.nama_guru}} </td>
                <td>{{x.status_murid}} </td>
                <td>{{x.keterangan}} </td>

            </tr>

            </tbody>
        </table>
    </div>
</div>