<div class="ibox float-e-margins pop-kecil">
    <div class="ibox-title">
        <h5>Edit Buku</h5>
        <div class="ibox-tools">
            <a ng-click="backButton('master.buku')" class="close-link">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
    <form ng-submit="submitForm()" >
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-6 b-r">

                    <div class="form-group">
                    <label>Jurusan</label>
                    <select required class="form-control " required select2 ng-model="buku.id_jurusan"
                            ng-options="x.id_jurusan*1 as x.jurusan for x in master.jurusan" >
                        <option value="">-- please choose --</option>
                    </select>
                    </div>
                    <div class="form-group">
                    <label>Kelas</label>
                    <select required class="form-control " required select2 ng-model="buku.id_kelas"
                            ng-options="x.id_kelas*1 as x.kelas for x in master.kelas" >
                        <option value="">-- please choose --</option>
                    </select>
                    </div>
                    <div class="form-group">
                    <label>Nama guru</label>
                    <select required class="form-control " required select2 ng-model="buku.id_guru"
                            ng-options="x.id_guru*1 as x.nama_guru for x in master.guru" >
                        <option value="">-- please choose --</option>
                    </select>
                    </div>
                    <div class="form-group">
                        <label>Judul</label>
                        <input required placeholder="Enter judul" class="form-control" ng-model="buku.judul" type="text">
                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Keterangan</label>
                        <input required placeholder="Enter keterangan" class="form-control" ng-model="buku.keterangan" type="text">
                    </div>
                    <div class="form-group">
                        <label>Nama file</label>
                        <input required placeholder="Enter nama file" class="form-control" ng-model="buku.nama_file" type="text">
                    </div>
                    <div class="form-group">
                        <label>Keyword</label>
                        <input required placeholder="Enter keyword" class="form-control" ng-model="buku.keyword" type="text">
                    </div>                    
                    <div class="form-group">
                        <label>Lokasi file</label>
                        <input required placeholder="Enter lokasi file" class="form-control" ng-model="buku.lokasi_file"  type="text">
                    </div>

                </div>

                <div class="col-sm-12">
                    <hr>
                    <div class="pull-left">
                        <p>Please check from before save*</p>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-sm btn-primary m-t-n-xs" type="submit">
                            <i class="fa fa-save"></i> &nbsp;
                            <strong> Save</strong></button>
                    </div>

                </div>

            </div>
        </div>
    </form>

</div>