
<div class="wrapper wrapper-content  animated fadeInRight" >
    <!--ng-show="$state.current.name === 'acl.users'"-->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Site</h5>
                    <div class="ibox-tools">
                        <a ui-sref="master.site.add" class="btn btn-primary btn-xs">Add new</a>
                    </div>
                </div>
                <div ui-view></div>

                <div class="ibox-content">

                    <div class="m-b-lg">

                        <strong>Found {{datas.length}} issue(s).</strong>

                    </div>

                    <div class="table-responsive">
                        <table class="table table-hover issue-tracker">
                            <thead>
                            <tr>
                                <th class="text-center">Status</th>
                                <th>Site</th>
                                <th>Address</th>
                                <th>Telephone</th>
                                <th>Fax</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="x in datas">
                              <td class="text-center">
                                <span class="label label-{{x.status_site==1?'primary':'warning'}}">{{x.status_site==1?'Aktif':'NonAktif'}}</span>
                              </td>
                                <td class="issue-info">
                                    <a href="#">
                                        {{x.site}}
                                    </a>

                                    <small>
                                        {{x.code_site}} {{x.type_site}}
                                    </small>
                                </td>
                                <td>
                                    {{x.address}}
                                </td>
                                <td>
                                    {{x.telephone}}
                                </td>
                                <td>
                                    {{x.fax}}
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>



            </div>
        </div>
    </div>


</div>
