
<div class="wrapper wrapper-content  animated fadeInRight" >
    <!--ng-show="$state.current.name === 'acl.users'"-->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Condition Monitoring</h5>

                </div>
                <div ui-view></div>

                <div class="ibox-content">

                    <div class="m-b-lg">

                        <strong>Found {{datas.length}} issues.</strong>

                    </div>

                    <div class="table-responsive">
                        <table class="table table-hover issue-tracker">
                            <thead>
                            <tr>
                                <!--<th class="text-center">Status</th>-->
                                <th>Category Condition Monitoring</th>
                                <th>Condition Monitoring</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="x in datas">
                                <!--<td class="text-center">-->
                                    <!--<span class="label label-{{x.is_deleted==0?'primary':'warning'}}">{{x.is_deleted==0?'Aktif':'NonAktif'}}</span>-->
                                <!--</td>-->
                                <td class="issue-info">
                                    <a href="#">
                                        {{x.life_time_limit}}
                                    </a>
                                </td>
                                <td>
                                    {{x.childname_life_time_limit}}
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>



            </div>
        </div>
    </div>


</div>
