<div class="ibox float-e-margins pop-kecil">
    <div class="ibox-title">
        <h5>Edit Gurumk</h5>
        <div class="ibox-tools">
            <a ng-click="backButton('master.gurumk')" class="close-link">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>

    <form ng-submit="submitForm()">
    <div class="ibox-content">
        <div class="row">
            <div class="col-sm-6 b-r">

                <div class="form-group">
                    <label>ID mata pelajaran</label>
                    <input placeholder="Enter id mapel" ng-model="gurumk.id_mata_pelajaran" class="form-control" type="text">
                </div>
                 <div class="form-group">
                    <label>ID guru</label>
                    <input placeholder="Enter id guru" ng-model="gurumk.id_guru" class="form-control" type="text">
                </div>
                <div class="form-group">
                    <label>Jam ngajar</label>
                    <input placeholder="Enter jam ngajar" ng-model="gurumk.jam_ngajar" class="form-control" type="text">
                </div>

            </div>

            <div class="col-sm-12">
                <hr>
                <div class="pull-left">
                    <p>Please check from before save*</p>
                </div>
                <div class="pull-right">
                    <button class="btn btn-sm btn-primary m-t-n-xs" type="submit">
                        <i class="fa fa-save"></i> &nbsp;
                        <strong> Save</strong></button>
                </div>

            </div>
        </div>
    </div>
    <!--</form>-->

</div>