<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="profile-element" uib-dropdown>
                    <img alt="image" class="img-circle" src="img/profile_small.jpg"/>
                    {{curren_user().name}}
                    </a>

                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>

            <li ui-sref-active="active" title="Kelas">
                <a ui-sref="guru.kelas"><i class="fa fa-home"></i>
                    <span class="nav-label">{{ 'Kelas' | uppercase }}</span>
                </a>
            </li>
            <li ui-sref-active="active" title="Bank Soal">
                <a ui-sref="guru.soal"><i class="fa fa-book"></i>
                    <span class="nav-label">{{ 'Bank Soal' | uppercase }}</span>
                </a>
            </li>
            <!--<li ui-sref-active="active">-->
                <!--<a ui-sref="guru.pnilai"><i class="fa fa-cogs"></i>-->
                    <!--<span class="nav-label">{{ 'Buku' | uppercase }}</span>-->
                <!--</a>-->
            <!--</li>-->

        </ul>

    </div>
</nav>