<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="profile-element" uib-dropdown>
                    <img alt="image" class="img-circle" src="img/profile_small.jpg"/>

                </div>
                <div class="logo-element">
                    ED
                </div>
            </li>

            <li ui-sref-active="active" title="Guru">
                <a ui-sref="admin.guru"><i class="fa fa-graduation-cap"></i>
                    <span class="nav-label">{{ 'Guru' | uppercase }}</span>
                </a>
            </li>
            <li ui-sref-active="active" title="murid">
                <a ui-sref="admin.murid"><i class="fa fa-graduation-cap"></i>
                    <span class="nav-label">{{ 'Murid' | uppercase }}</span>
                </a>
            </li>
            <li ui-sref-active="active" title="Kelas">
                <a ui-sref="admin.murid_kelas"><i class="fa fa-graduation-cap"></i>
                    <span class="nav-label">{{ 'Murid Kelas' | uppercase }}</span>
                </a>
            </li>
            <li ui-sref-active="active" title="Extra">
                <a ui-sref="admin.extra"><i class="fa fa-bomb"></i>
                    <span class="nav-label">{{ 'Extra' | uppercase }}</span>
                </a>
            </li>


        </ul>

    </div>
</nav>