<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="profile-element" uib-dropdown>
                    <img alt="image" class="img-circle" src="img/profile_small.jpg"/>
                    <a uib-dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
<!--                                    <strong class="font-bold">Muhammad Arifin</strong> -->
                                    <strong class="font-bold">C</strong>
                             </span>
                                <span class="text-muted text-xs block">Koding # <b class="caret"></b></span>
                            </span>
                    </a>
                    <ul uib-dropdown-menu class="animated fadeInRight m-t-xs">
                        <li><a ui-sref="app.profile">Profile</a></li>
                        <li><a ui-sref="app.contacts">Contacts</a></li>
                        <li><a ui-sref="mailbox.inbox">Mailbox</a></li>
                        <li class="divider"></li>
                        <li><a ui-sref="login">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="wilayah.provinsi"><i class="fa fa-window-close-o"></i>
                    <span class="nav-label">{{ 'Provinsi' | uppercase }}</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="wilayah.kabkot"><i class="fa fa-window-close-o"></i>
                    <span class="nav-label">{{ 'Kabupaten/Kota' | uppercase }}</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="wilayah.kecamatan"><i class="fa fa-window-close-o"></i>
                    <span class="nav-label">{{ 'Kecamatan' | uppercase }}</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="wilayah.kelurahan"><i class="fa fa-window-close-o"></i>
                    <span class="nav-label">{{ 'Kelurahan' | uppercase }}</span>
                </a>
            </li>

            <li class="landing_link">
                <a ui-sref="landing"><i class="fa fa-star"></i> <span class="nav-label">{{ 'LANDING' | translate }}</span> <span class="label label-warning pull-right">NEW</span></a>
            </li>
        </ul>

    </div>
</nav>