<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="profile-element" uib-dropdown>
                    <img alt="image" class="img-circle" src="img/profile_small.jpg"/>
                    <a uib-dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">Muhammad Arifin</strong>
                             </span>
                                <span class="text-muted text-xs block">Koding # <b class="caret"></b></span>
                            </span>
                    </a>
                    <ul uib-dropdown-menu class="animated fadeInRight m-t-xs">
                        <li><a ui-sref="app.profile">Profile</a></li>
                        <li><a ui-sref="app.contacts">Contacts</a></li>
                        <li><a ui-sref="mailbox.inbox">Mailbox</a></li>
                        <li class="divider"></li>
                        <li><a ui-sref="login">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="tech_rec.aircraft"><i class="fa fa-gears"></i>
                    <span class="nav-label">{{ 'Aircraft' | uppercase }}</span>
                </a>
            </li>


            <li ui-sref-active="active">
                <a ui-sref="tech_rec.flight_log"><i class="fa fa-flag"></i>
                    <span class="nav-label">{{ 'Flight Log' | uppercase }}</span>
                </a>
            </li>





        </ul>

    </div>
</nav>