<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="profile-element" uib-dropdown>
                    <img alt="image" class="img-circle" src="img/profile_small.jpg"/>


                </div>
                <div class="logo-element">
                    ED
                </div>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="acl.users"><i class="fa fa-bandcamp"></i>
                    <span class="nav-label">{{ 'User' | uppercase }}</span>
                </a>
            </li>

        </ul>

    </div>
</nav>