
<div class="wrapper wrapper-content  animated fadeInRight" >
    <!--ng-show="$state.current.name === 'acl.users'"-->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Data Tabsen</h5>
                    <div class="ibox-tools">
                        <a ui-sref="absen.tabsen.add" class="btn btn-primary btn-xs">Add new</a>
                    </div>
                </div>
                <div ui-view></div>

                <div class="ibox-content">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Filter</label>
                                <input type="text" ng-model="search" ng-change="filter()" placeholder="Filter" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <button class="btn btn-block btn-success" ng-click="filter(1)"><i class="fa fa-filter"></i> Filter</button>

                            </div>
                        </div>
                    </div>
                    <div class="table-responsive" id="table-scroll" full-scroll="">
                        <table class="table table-hover issue-tracker">
                            <thead>
                            <tr>
                                <th width="2px">#No</th>
                                <th>Nama murid</th>
                                <th>Tanggal absen</th>
                                <th>Type absen</th>
                                <th>Tanggal upload</th>
                                <th>Catatan</th>
                                <th class="text-center">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="x in datas |filter:search">
                                <td>
                                    {{ $index +1}}
                                </td>
                                <td>
                                    {{x.nama_murid}}
                                </td>
                                <td>
                                    {{x.tanggal_absen | date: "yyyy/MM/dd"}}
                                </td>
                                <td>
                                    {{x.type_absen}}
                                </td>
                                <td>
                                    {{x.tanggal_upload | date: "yyyy/MM/dd"}}
                                </td>
                                <td>
                                    {{x.catatan}}
                                </td>
                                <td class="text-center">
                                    <a ui-sref="absen.tabsen.edit({id_absen:x.id_absen})" ng-click="gotoTop()" class="btn btn-white btn-xs"> Edit</a>
                                    <a ng-dblclick="delete(x.id_absen)" class="btn btn-white btn-xs"> Delete</a>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
    </div>

</div>
<script>
    setTimeout(function(){
        tableScroll()
    })
</script>