<div class="ibox float-e-margins pop-kecil">
    <div class="ibox-title">
        <h5>Edit Tabsen</h5>
        <div class="ibox-tools">
            <a ng-click="backButton('absen.tabsen')" class="close-link">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>

    <form ng-submit="submitForm()">
    <div class="ibox-content">
        <div class="row">
            <div class="col-sm-6 b-r">

                    <div class="form-group">
                    <label>Nama murid</label>
                    <select required class="form-control " required select2 ng-model="tabsen.id_murid"
                            ng-options="x.id_murid*1 as x.nama_murid for x in absen.murid" >
                        <option value="">-- please choose --</option>
                    </select>
                    </div>
                    <div class="form-group">
                        <label>Tanggal absen</label>
                        <input required placeholder="Enter tanggal absen" ng-model="tabsen.tanggal_absen" class="form-control" type="date">
                    </div>
                    <div class="form-group">
                        <label>Type absen</label>
                        <input required placeholder="Enter type absen" ng-model="tabsen.type_absen" class="form-control" type="text">
                    </div>

                </div>
                <div class="col-sm-6">

                    <div class="form-group">
                        <label>Tanggal upload</label>
                        <input required placeholder="Enter" class="form-control" ng-model="tabsen.tanggal_upload" type="date">
                    </div>
                    <div class="form-group">
                        <label>Catatan</label>
                        <input required placeholder="Enter catatan" class="form-control" ng-model="tabsen.catatan" type="text">
                    </div>
                </div>


            </div>

            <div class="col-sm-12">
                <hr>
                <div class="pull-left">
                    <p>Please check from before save*</p>
                </div>
                <div class="pull-right">
                    <button class="btn btn-sm btn-primary m-t-n-xs" type="submit">
                        <i class="fa fa-save"></i> &nbsp;
                        <strong> Save</strong></button>
                </div>

            </div>
        </div>
    </div>
    <!--</form>-->

</div>