
<div class="wrapper wrapper-content  animated fadeInRight" >
    <!--ng-show="$state.current.name === 'acl.users'"-->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Murid</h5>
                    <div class="ibox-tools">
                        <a ui-sref="master.murid.add" class="btn btn-primary btn-xs">Add new</a>
                    </div>
                </div>
                <div ui-view></div>

                <div class="ibox-content">

                    <div class="m-b-lg">

                        <strong>Found {{datas.length}} issue(s).</strong>

                    </div>

                    <div class="table-responsive">
                        <table class="table table-hover issue-tracker">
                            <thead>
                            <tr>
                                <th>NIS</th>
                                <th>NISN</th>
                                <th>Nama murid</th>
                                <th>Tempat lahir</th>
                                <th>Tanggal lahir</th>
                                <th>Jenis kelamin</th>
                                <th>Hobi</th>
                                <th>Cita-cita</th>
                                <th>Jumlah saudara</th>
                                <th>Alamat</th>
                                <th>Provinsi</th>
                                <th>Kabkot</th>
                                <th>Kecamatan</th>
                                <th>Kode pos</th>
                                <th>No kk</th>
                                <th>Nama ayah</th>
                                <th>Pendidikan Ayah</th>
                                <th>Pekerjaan Ayah</th>
                                <th>Nama ibu</th>
                                <th>Pendidikan ibu</th>
                                <th>Pekerjaan ibu</th>
                                <th>Status murid</th>
                                <th>Agama</th>
                                <th class="text-center">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="x in datas">
                                <td>
                                  <a href="#">
                                      {{x.nis}}
                                  </a>
                                </td>
                                <td>
                                    {{x.nisn}}
                                </td>
                                <td>
                                    {{x.nama}}
                                </td>
                                <td>
                                    {{x.tempat_lahir}}
                                </td>
                                <td>
                                    {{x.tanggal_lahir}}
                                </td>
                                <td>
                                    {{x.jenis_kelamin}}
                                </td>
                                <td>
                                    {{x.hobi}}
                                </td>
                                <td>
                                    {{x.cita_cita}}
                                </td>
                                <td>
                                    {{x.jumlah_saudara}}
                                </td>
                                <td>
                                    {{x.alamat}}
                                </td>
                                <td>
                                    {{x.provinsi}}
                                </td>
                                <td>
                                    {{x.kabkot}}
                                </td>
                                <td>
                                    {{x.kecamatan}}
                                </td>
                                <td>
                                    {{x.kode_pos}}
                                </td>
                                <td>
                                    {{x.no_kk}}
                                </td>
                                <td>
                                    {{x.nama_ayah}}
                                </td>
                                <td>
                                    {{x.id_pendidikan_ayah}}
                                </td>
                                <td>
                                    {{x.id_pekerjaan_ayah}}
                                </td>
                                <td>
                                    {{x.nama_ibu}}
                                </td>
                                <td>
                                    {{x.id_pendidikan_ibu}}
                                </td>
                                <td>
                                    {{x.id_pekerjaan_ibu}}
                                </td>
                                <td>
                                    {{x.status_murid}}
                                </td>
                                <td>
                                    {{x.agama}}
                                </td>

                                <td class="text-center">
                                    <a ui-sref="master.murid.edit({id_murid:x.id_murid})" ng-click="gotoTop()" class="btn btn-white btn-xs"> Edit</a>
                                    <a ng-dblclick="delete(x.id_murid)" class="btn btn-white btn-xs"> Delete</a>
                                </td>

                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>



            </div>
        </div>
    </div>


</div>
