 <div class="row" id="detail_fix">
     <div class="col-lg-2 p-r-0 border-right">
         <div class="ibox float-e-margins">
             <div class="ibox-title bg-info">
                 <h5>{{ murid.nama_murid }}</h5>

             </div>
             <div class="ibox-content no-kiri-kanan border-left border-right">
                 <ul class="list-group elements-list">
                     <li class="list-group-item" ui-sref-active="active">
                         <a ui-sref="master.murid.detail({id_murid:murid.id_murid})" >
                             <strong>Detail Murid</strong>
                         </a>
                     </li>
                 </ul>
             </div>
             <div class="ibox-footer">
                        <span class="pull-right">
                          The righ side of the footer
                    </span>

             </div>
         </div>

     </div>

     <div class="col-lg-10 p-l-0">
         <div class="ibox float-e-margins">
             <div class="ibox-title ">
                 <h5 style="padding-left: 10px;">{{ murid.nama_murid }}</h5>

                 <div  class="ng-scope">
                     <div class="ibox-tools dropdown" uib-dropdown="">
                         <a ng-click="backButton('master.murid')"><i class="fa fa-times"></i></a>
                     </div>
                 </div>
             </div>
             <div class="ibox-content border-left border-right" full-scroll="">
                 <div ng-show="$state.current.name === 'master.murid.detail'">
                     <json-formatter json="murid" open="0"></json-formatter>
                     <div class="row">
                         <div class="col-lg-5">
                             <table class="table padding-kecil table-mail">
                                <tr>
                                    <td width="40%">NIS</td>
                                    <td  width="60%">: {{ murid.nis }}</td>
                                </tr>
                                <tr>
                                    <td>NISN</td>
                                    <td>: {{ murid.nisn }}</td>
                                </tr>
                                <tr>
                                    <td>Nama murid</td>
                                    <td>: {{ murid.nama_murid }}</td>
                                </tr>
                                <tr>
                                    <td>Tempat lahir</td>
                                    <td>:  {{ murid.tempat_lahir }}</td>
                                </tr>
                                <tr>
                                    <td>Tanggal lahir</td>
                                    <td>:  {{ murid.tanggal_lahir | date: "yyyy-MM-dd"}}</td>
                                </tr>
                                <tr>
                                    <td>Jenis kelamin</td>
                                    <td>:  {{ murid.jenis_kelamin }}</td>
                                </tr>
                                <tr>
                                    <td>Hobi</td>
                                    <td>:  {{ murid.hobi }}</td>
                                </tr>
                                <tr>
                                    <td>Cita-cita</td>
                                    <td>:  {{ murid.cita_cita }}</td>
                                </tr>
                                <tr>
                                    <td>Jumlah saudara</td>
                                    <td>:  {{ murid.jumlah_saudara }}</td>
                                </tr>
                                <tr>
                                    <td>Alamat</td>
                                    <td>:  {{ murid.alamat }}</td>
                                </tr>
                                <tr>
                                    <td>Provinsi</td>
                                    <td>:  {{ murid.provinsi }}</td>
                                </tr>
                                <tr>
                                    <td>Kabkot</td>
                                    <td>:  {{ murid.kabkot }}</td>
                                </tr>


                             </table>

                         </div>
                         <div class="col-lg-7" id="cluster_info">
                             <table class="table padding-kecil table-mail">
                                <tr>
                                    <td width="40%">Kecamatan</td>
                                    <td  width="60%">: {{ murid.kecamatan }}</td>
                                </tr>
                                <tr>
                                    <td>Kode pos</td>
                                    <td>: {{ murid.kode_pos }}</td>
                                </tr>
                                <tr>
                                    <td>NOKK</td>
                                    <td>: {{ murid.no_kk }}</td>
                                </tr>
                                <tr>
                                    <td>Nama ayah</td>
                                    <td>: {{ murid.nama_ayah }}</td>
                                </tr>
                                <tr>
                                    <td>Pendidikan ayah</td>
                                    <td>: {{ murid.id_pendidikan_ayah }}</td>
                                </tr>
                                <tr>
                                    <td>Pekerjaan ayah</td>
                                    <td>: {{ murid.id_pekerjaan_ayah }}</td>
                                </tr>
                                <tr>
                                    <td>Nama ibu</td>
                                    <td>: {{ murid.nama_ibu }}</td>
                                </tr>
                                <tr>
                                    <td>Pendidikan ibu</td>
                                    <td>: {{ murid.id_pendidikan_ibu }}</td>
                                </tr>
                                <tr>
                                    <td>Pekerjaan ibu</td>
                                    <td>: {{ murid.id_pekerjaan_ibu }}</td>
                                </tr>
                                <tr>
                                    <td>Satatus murid</td>
                                    <td>: {{ murid.status_murid }}</td>
                                </tr>
                                <tr>
                                    <td>Agama</td>
                                    <td>: {{ murid.agama }}</td>
                                </tr>
                                

                             </table>

                         </div>
                     </div>

                 </div>

                 <ui-view></ui-view>


             </div>
             <div class="ibox-footer">
                 <span class="pull-right">
                          The righ side of the footer
                 </span>
                 Isi Form Dengan Benar
             </div>
         </div>

     </div>



 </div>

 <script>

     setTimeout(function(){
         fixDetailHeight()
     })
 </script>