 <div class="row" id="detail_fix">
     <div class="col-lg-2 p-r-0 border-right">
         <div class="ibox float-e-margins">
             <div class="ibox-title bg-info">
                <table><tr ng-repeat="x in murid">
                    <td><h5>{{ x.nama_murid }}</h5></td></tr>
                </table>
             </div>
             <div class="ibox-content no-kiri-kanan border-left border-right">
                    <ul class="list-group elements-list">
                        <table>
                            <tr ng-repeat="x in murid"><td>
                            <li class="list-group-item" ui-sref-active="active">
                                <a ui-sref="admin.murid.detail({id_murid:x.id_murid})" >
                                    <strong>Detail Murid</strong>
                                </a>
                            </li>
                            <td></tr>
                            <tr ng-repeat="x in murid"><td>
                            <li class="list-group-item" ui-sref-active="active">
                                <a ui-sref="admin.murid.detailmk({id_murid:x.id_murid})" >
                                    <strong>Tab lain</strong>
                                </a>
                            </li>
                            <td></tr>
                        </table>
                    </ul>
             </div>
             <div class="ibox-footer">
                        <span class="pull-right">
                          The righ side of the footer
                    </span>

             </div>
         </div>

     </div>

     <div class="col-lg-10 p-l-0">
         <div class="ibox float-e-margins">
             <div class="ibox-title ">
                 <div  class="ng-scope">
                     <div class="ibox-tools dropdown" uib-dropdown="">
                         <a ng-click="backButton('admin.murid')"><i class="fa fa-times"></i></a>
                     </div>
                 </div>
             </div>
             <div class="ibox-content border-left border-right" full-scroll="">
                 <div ng-show="$state.current.name === 'admin.murid.detail'">
                     <json-formatter json="murid" open="0"></json-formatter>
                     <div class="row">
                         <div class="col-lg-5">
                             <table class="table padding-kecil table-mail">
                                <tr ng-repeat="x in murid">
                                    <td width="40%">NIS</td>
                                    <td  width="60%">: {{ x.nis }}</td>
                                </tr>
                                <tr ng-repeat="x in murid">
                                    <td>NISN</td>
                                    <td>: {{ x.nisn }}</td>
                                </tr>
                                 <tr ng-repeat="x in murid">
                                    <td>Sekolah</td>
                                    <td>: {{ x.sekolah }}</td>
                                </tr>
                                <tr ng-repeat="x in murid">
                                    <td>Nama murid</td>
                                    <td>: {{ x.nama_murid }}</td>
                                </tr>
                                <tr ng-repeat="x in murid">
                                    <td>Tempat lahir</td>
                                    <td>:  {{ x.tempat_lahir }}</td>
                                </tr>
                                <tr ng-repeat="x in murid">
                                    <td>Tanggal lahir</td>
                                    <td>:  {{ x.tanggal_lahir |Mydate}}</td>
                                </tr>
                                <tr ng-repeat="x in murid">
                                    <td>Jenis kelamin</td>
                                    <td>:  {{ x.jenis_kelamin }}</td>
                                </tr>
                                <tr ng-repeat="x in murid">
                                    <td>Email</td>
                                    <td>:  {{ x.email }}</td>
                                </tr>
                                <tr ng-repeat="x in murid">
                                    <td>No Handphone</td>
                                    <td>:  {{ x.no_hp }}</td>
                                </tr>
                                <tr ng-repeat="x in murid">
                                    <td>Hobi</td>
                                    <td>:  {{ x.hobi }}</td>
                                </tr>
                                <tr ng-repeat="x in murid">
                                    <td>Cita-cita</td>
                                    <td>:  {{ x.cita_cita }}</td>
                                </tr>
                                <tr ng-repeat="x in murid">
                                    <td>Jumlah saudara</td>
                                    <td>:  {{ x.jumlah_saudara }}</td>
                                </tr>
                                <tr ng-repeat="x in murid">
                                    <td>Alamat</td>
                                    <td>:  {{ x.alamat }}</td>
                                </tr>
                                <tr ng-repeat="x in murid">
                                    <td>Provinsi</td>
                                    <td>:  {{ x.provinsi }}</td>
                                </tr>

                             </table>

                         </div>
                         <div class="col-lg-7" id="cluster_info">
                             <table class="table padding-kecil table-mail">
                                <tr ng-repeat="x in murid">
                                    <td width="40%">Kabkot</td>
                                    <td  width="60%">:  {{ x.kabkot }}</td>
                                </tr>
                                <tr ng-repeat="x in murid">
                                    <td>Kecamatan</td>
                                    <td>: {{ x.kecamatan }}</td>
                                </tr>
<!--                                <tr ng-repeat="x in murid">
                                    <td>Kelurahan</td>
                                    <td>: {{ x.kelurahan }}</td>
                                </tr>
                                -->
                                <tr ng-repeat="x in murid">
                                    <td>Kode pos</td>
                                    <td>: {{ x.kode_pos }}</td>
                                </tr>
                                <tr ng-repeat="x in murid">
                                    <td>NOKK</td>
                                    <td>: {{ x.no_kk }}</td>
                                </tr>
                                <tr ng-repeat="x in murid">
                                    <td>Nama ayah</td>
                                    <td>: {{ x.nama_ayah }}</td>
                                </tr>
                                <tr ng-repeat="x in murid">
                                    <td>Pendidikan ayah</td>
                                    <td>: {{ x.pendidikan }}</td>
                                </tr>
                                <tr ng-repeat="x in murid">
                                    <td>Pekerjaan ayah</td>
                                    <td>: {{ x.pekerjaan }}</td>
                                </tr>
                                <tr ng-repeat="x in murid">
                                    <td>Nama ibu</td>
                                    <td>: {{ x.nama_ibu }}</td>
                                </tr>
                                <tr ng-repeat="x in murid">
                                    <td>Pendidikan ibu</td>
                                    <td>: {{ x.pendidikan }}</td>
                                </tr>
                                <tr ng-repeat="x in murid">
                                    <td>Pekerjaan ibu</td>
                                    <td>: {{ x.pekerjaan }}</td>
                                </tr>
                                <tr ng-repeat="x in murid">
                                    <td>Agama</td>
                                    <td>: {{ x.agama }}</td>
                                </tr>
                                <tr ng-repeat="x in murid">
                                    <td>Satatus murid</td>
                                    <td>:<span class="label label-{{x.status_murid=='ON'?'primary':'warning'}}"> {{ x.status_murid }}</span></td>
                                </tr>
                                

                             </table>

                         </div>
                     </div>

                 </div>

                 <ui-view></ui-view>


             </div>
             <div class="ibox-footer">
                 <span class="pull-right">
                          The righ side of the footer
                 </span>
                 Isi Form Dengan Benar
             </div>
         </div>

     </div>



 </div>

 <script>

     setTimeout(function(){
         fixDetailHeight()
     })
 </script>