<!-- Wrapper-->
<div id="wrapper">

    <!-- Navigation -->
    <div ng-include="'views/template/navigation/menu_'+ $state.current.data.menu +'.html'"></div>

    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg {{ $state.current.data.menu}} {{$state.current.name}}">

        <!-- Page wrapper -->
        <div ng-include="'views/template/topnavbar.html'"></div>

        <!-- Main view  -->
        <div  ui-view></div>

        <!-- Footer -->
        <div ng-include="'views/template/footer.html'"></div>

    </div>
    <!-- End page wrapper-->

    <!-- Right Sidebar -->
    <div ng-include="'views/template/right_sidebar.html'"></div>

</div>
<!-- End wrapper-->