<div class="ibox float-e-margins pop-kecil">
    <div class="ibox-title">
        <h5>Input New Guru</h5>
        <div class="ibox-tools">
            <a ng-click="backButton('master.guru')" class="close-link">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>

    <form ng-submit="submitForm()" >
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-6 b-r">

                    <div class="form-group">
                        <label>NIP</label>
                        <input required placeholder="Enter nip" ng-model="guru.nip" class="form-control" type="text">
                    </div>

                    <div class="form-group">
                        <label>NUPTK</label>
                        <input required placeholder="Enter nuptk" ng-model="guru.nuptk" class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label>Nama guru</label>
                        <input required placeholder="Enter nama" class="form-control" ng-model="guru.nama_guru" type="text">
                    </div>
                    <div class="form-group">
                        <label>NIK KTP</label>
                        <input required placeholder="Enter nik ktp" class="form-control" ng-model="guru.nik_ktp" type="text">
                    </div>
                    <div class="form-group">
                        <label>Tempat lahir</label>
                        <input required placeholder="Enter tempat lahir" class="form-control" ng-model="guru.tempat_lahir" type="text">
                    </div>
                    <div class="form-group">
                        <label>Tanggal lahir</label>
                        <input required placeholder="Enter " class="form-control" ng-model="guru.tanggal_lahir" type="date">
                    </div>
                    <div class="form-group">
                    <label>Jenis kelamin</label>
                    <select required class="form-control " required select2 ng-model="guru.jenis_kelamin">
                        <option value="">-- please choose --</option>
                        <option value="Laki-laki">Laki-laki</option>
                        <option value="Perempuan">Perempuan</option>
                    </select>
                    </div>
                    <div class="form-group">
                        <label>Nama ibu</label>
                        <input required placeholder="Enter nama ibu" class="form-control" ng-model="guru.nama_ibu" type="text">
                    </div>
                    <div class="form-group">
                        <label>Status pegawai</label>
                        <input required placeholder="Enter status pegawai" class="form-control" ng-model="guru.status_pegawai" type="text">
                    </div>
                    <div class="form-group">
                        <label>Golongan</label>
                        <input required placeholder="Enter golongan" class="form-control" ng-model="guru.golongan" type="text">
                    </div>
                    <div class="form-group">
                        <label>TMK SK CPNS</label>
                        <input required placeholder="Enter tmk sk cpns" class="form-control" ng-model="guru.tmk_sk_cpns" type="date">
                    </div>
                    <div class="form-group">
                        <label>TMK SK Awal</label>
                        <input required placeholder="Enter tmk sk awal" class="form-control" ng-model="guru.tmk_sk_awal" type="date">
                    </div>
                    <div class="form-group">
                        <label>TMK SK Berakhir</label>
                        <input required placeholder="Enter tmk sk berakhir" class="form-control" ng-model="guru.tmk_sk_berakhir" type="date">
                    </div>
                    <div class="form-group">
                        <label>Alamat</label>
                        <input required placeholder="Enter alamat" class="form-control" ng-model="guru.alamat" type="text">
                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>ID Provinsi</label>
                        <input required placeholder="Enter id provinsi" class="form-control" ng-model="guru.id_prov" type="number">
                    </div>
                    <div class="form-group">
                        <label>Provinsi</label>
                        <input required placeholder="Enter provinsi" class="form-control" ng-model="guru.provinsi" type="text">
                    </div>
                    <div class="form-group">
                        <label>ID Kabkot</label>
                        <input required placeholder="Enter id kabkot" class="form-control" ng-model="guru.id_kabkot" type="number">
                    </div>
                    <div class="form-group">
                        <label>Kabkot</label>
                        <input required placeholder="Enter kabkot" class="form-control" ng-model="guru.kabkot" type="text">
                    </div>
                    <div class="form-group">
                        <label>ID Kecamatan</label>
                        <input required placeholder="Enter id kecamatan" class="form-control" ng-model="guru.id_kec" type="number">
                    </div>                    
                    <div class="form-group">
                        <label>Kecamatan</label>
                        <input required placeholder="Enter kecamatan" class="form-control" ng-model="guru.kecamatan" type="text">
                    </div>
                    <div class="form-group">
                        <label>ID Kelurahan</label>
                        <input required placeholder="Enter id kelurahan" class="form-control" ng-model="guru.id_kel" type="number">
                    </div>                    
                    <div class="form-group">
                        <label>Kelurahan</label>
                        <input required placeholder="Enter kelurahan" class="form-control" ng-model="guru.kelurahan" type="text">
                    </div>
                    <div class="form-group">
                        <label>No Hp</label>
                        <input required placeholder="Enter no hp" class="form-control" ng-model="guru.no_hp" type="text">
                    </div>
                    <div class="form-group">
                        <label>Agama</label>
                        <input required placeholder="Enter agama" class="form-control" ng-model="guru.agama" type="text">
                    </div>
                    <div class="form-group">
                        <label>Kode Pos</label>
                        <input required placeholder="Enter kode pos" class="form-control" ng-model="guru.kode_pos" type="number">
                    </div>
                    <div class="form-group">
                        <label>Status guru</label>
                        <input required placeholder="Enter status guru" class="form-control" ng-model="guru.status_guru" type="text">
                    </div>

                </div>

                <div class="col-sm-12">
                    <hr>
                    <div class="pull-left">
                        <p>Please check from before save*</p>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-sm btn-primary m-t-n-xs" type="submit">
                            <i class="fa fa-save"></i> &nbsp;
                            <strong> Save</strong></button>
                    </div>

                </div>

            </div>
        </div>
    </form>

</div>
