<div class="ibox float-e-margins pop-kecil">
    <div class="ibox-title">
        <h5>Input New Master Mapel</h5>
        <div class="ibox-tools">
            <a ng-click="backButton('master.mapel')" class="close-link">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>

    <form ng-submit="submitForm()" >
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-6 b-r">


                    <div class="form-group">
                        <label>Mata Pelajaran</label>
                        <input required placeholder="Enter mata pelajaran" ng-model="mapel.mata_pelajaran" class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label>Tingkat</label>
                        <input required placeholder="Enter tingkat" ng-model="mapel.tingkat" class="form-control" type="number">
                    </div>
                    <div class="form-group">
                        <label>ID Jurusan</label>
                        <input required placeholder="Enter id jurusan" ng-model="mapel.id_jurusan" class="form-control" type="number">
                    </div>
                    <div class="form-group">
                        <label>Jurusan</label>
                        <input required placeholder="Enter jurusan" class="form-control" ng-model="mapel.jurusan" type="text">
                    </div>

                </div>
                <div class="col-sm-6">

                    <div class="form-group">
                        <label>Kelas paralel</label>
                        <input required placeholder="Enter kelas paralel" class="form-control" ng-model="mapel.kelas_paralel" type="text">
                    </div>
                    <div class="form-group">
                        <label>Status mata pelajaran</label>
                        <input required placeholder="Enter status mata pelajaran" class="form-control" ng-model="mapel.status_mata_pelajaran" type="number">
                    </div>
                </div>

                <div class="col-sm-12">
                    <hr>
                    <div class="pull-left">
                        <p>Please check from before save*</p>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-sm btn-primary m-t-n-xs" type="submit">
                            <i class="fa fa-save"></i> &nbsp;
                            <strong> Save</strong></button>
                    </div>

                </div>

            </div>
        </div>
    </form>

</div>
