<div class="ibox float-e-margins pop-kecil">
    <div class="ibox-title">
        <h5>Input New Master Mapel</h5>
        <div class="ibox-tools">
            <a ng-click="backButton('master.mapel')" class="close-link">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>

    <form ng-submit="submitForm()" >
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-6 b-r">


                    <div class="form-group">
                        <label>Mata Pelajaran</label>
                        <input required placeholder="Enter mata pelajaran" ng-model="mapel.mata_pelajaran" class="form-control" type="text">
                    </div>
                    <div class="form-group">
                    <label>Jurusan</label>
                    <select required class="form-control " required select2 ng-model="mapel.id_jurusan"
                            ng-options="x.id_jurusan*1 as x.jurusan for x in master.jurusan" >
                        <option value="">-- please choose --</option>
                    </select>
                    </div>

                </div>
                <div class="col-sm-6">

                    <div class="form-group">
                    <label>Kelas</label>
                    <select required class="form-control " required select2 ng-model="mapel.kelas">
                        <option value="">-- please choose --</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
                    <div class="form-group">
                    <label class="col-sm-12 control-label" style="padding-left: 0">Status mata pelajaran<br>
                        <small class="text-navy">Custom elements</small>
                    </label>
                    <div class="col-sm-5">
                        <div>
                            <label> <input icheck type="radio" value="Aktif" ng-model="mapel.status_mata_pelajaran"> Aktif </label>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div>
                            <label> <input icheck type="radio" value="Tidak" ng-model="mapel.status_mata_pelajaran"> Tidak </label>
                        </div>
                    </div>

                    </div>
                </div>

                <div class="col-sm-12">
                    <hr>
                    <div class="pull-left">
                        <p>Please check from before save*</p>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-sm btn-primary m-t-n-xs" type="submit">
                            <i class="fa fa-save"></i> &nbsp;
                            <strong> Save</strong></button>
                    </div>

                </div>

            </div>
        </div>
    </form>

</div>
