
<div class="wrapper wrapper-content  animated fadeInRight" >
    <!--ng-show="$state.current.name === 'acl.users'"-->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Data Mata Pelajaran</h5>
                    <div class="ibox-tools">
                        <a ui-sref="master.mapel.add" class="btn btn-primary btn-xs">Add new</a>
                    </div>
                </div>
                <div ui-view></div>

                <div class="ibox-content">

                    <div class="row">
                        <div class="col-md-2">SizePage :
                            <select ng-model="entryLimit" class="form-control">
                                <option>10</option>
                                <option>20</option>
                                <option>40</option>
                                <option>80</option>
                                <option>100</option>
                            </select>
                        </div>
                        <div class="col-md-6">Filter :
                            <input type="text" ng-model="search" ng-change="filter()" placeholder="Filter" class="form-control" />
                        </div>
                        <div class="col-md-4">
                            <h5>Colum {{ entryLimit }} of {{ datas.length }} total mata pelajaran</h5>
                        </div>
                    </div>
                    <br/>
                    <div class="table-responsive">
                        <table class="table table-hover issue-tracker">
                            <thead>
                            <tr>
                                <th width="2px">#No</th>
                                <th ng-click="sort_by('mata_pelajaran');" style="cursor: pointer;">Mapel&nbsp;&nbsp;<i class="glyphicon glyphicon-sort"></i></th>
                                <th>Tingkat</th>
                                <th>Jurusan</th>
                                <th>Kelas paralel</th>
                                <th>Status mata pelajaran</th>
                                <th class="text-center">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="x in datas |filter:search|orderBy:predicate:reverse|limitTo:entryLimit">
                                <td>
                                    {{ $index +1}}
                                </td>
                                <td>
                                    {{x.mata_pelajaran}}
                                </td>
                                <td>
                                    {{x.tingkat}}
                                </td>
                                <td>
                                    {{x.jurusan}}
                                </td>
                                <td>
                                    {{x.kelas_paralel}}
                                </td>
                                <td>
                                    {{x.status_mata_pelajaran}}
                                </td>

                                <td class="text-center">
                                    <a ui-sref="master.mapel.edit({id_mata_pelajaran:x.id_mata_pelajaran})" ng-click="gotoTop()" class="btn btn-white btn-xs"> Edit</a>
                                    <a ng-dblclick="delete(x.id_mata_pelajaran)" class="btn btn-white btn-xs"> Delete</a>
                                </td>

                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
    </div>


</div>
