<div class="ibox float-e-margins pop-kecil">
    <div class="ibox-title">
        <h5>Input New Isi Kelas</h5>
        <div class="ibox-tools">
            <a ng-click="backButton('guru.isikelas')" class="close-link">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>

    <form ng-submit="submitForm()">
    <div class="ibox-content">
        <div class="row">
            <div class="col-sm-6 b-r">
                <div class="form-group">
                    <label>Kelas</label>
                    <select required class="form-control " required select2 ng-model="isikelas.id_kelas"
                            ng-options="x.id_kelas*1 as x.kelas for x in guru.kelas">
                        <option value="">-- please choose --</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Jurusan</label>
                    <select required class="form-control " required select2 ng-model="isikelas.id_jurusan"
                            ng-options="x.id_jurusan*1 as x.jurusan for x in guru.jurusan">
                        <option value="">-- please choose --</option>
                    </select>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label>Guru Wali kelas</label>
                    <select required class="form-control " required select2 ng-model="isikelas.id_guru_wali_kelas"
                            ng-options="x.id_guru*1 as x.nama_guru for x in guru.guru">
                        <option value="">-- please choose --</option>
                    </select>
                </div>
            </div>

            <div class="col-sm-12">
                <hr>
                <div class="pull-left">
                    <p>Please check from before save*</p>
                </div>
                <div class="pull-right">
                    <button class="btn btn-sm btn-primary m-t-n-xs" type="submit">
                        <i class="fa fa-save"></i> &nbsp;
                        <strong> Save</strong></button>
                </div>

            </div>
        </div>
    </div>
    </form>

</div>
