  <div class="row" id="detail_fix">

     <div class="col-lg-12">
         <div class="ibox float-e-margins">
             <div class="ibox-title ">
                 <div  class="ng-scope">
                     <div class="ibox-tools dropdown" uib-dropdown="">
                        <a ng-click="backButton('guru.isikelas')"><i class="fa fa-times"></i></a>
                          <table class="">
                            <tr ng-repeat="x in isikelas.gurump| limitTo:1">
                              <td><h5><strong> JADWAL PELAJARAN KELAS : {{x.kelas}} </strong></h5></td>
                            </tr>
                          </table>
                     </div>
                 </div>
             </div>
             <div class="ibox-content" id="table-scroll" full-scroll="">
                <ul class="list-group elements-list">
                    <table class="table-responsive">
                        <tr ng-repeat="x in isikelas.kelas| limitTo:1">
                            <td><li class="list-group-item"><a ui-sref="guru.isikelas.detailkelas({id_kelas:x.id_kelas})" >
                            <strong>Murid</strong>
                            </a></li></td>
                            <td><li class="list-group-item"><a ui-sref="guru.isikelas.detailnilai({id_kelas:x.id_kelas})" >
                            <strong>Nilai</strong>
                            </a></li></td>
                            <td><li class="list-group-item"><a ui-sref="guru.isikelas.detailabsensi({id_kelas:x.id_kelas})" >
                            <strong>Absensi</strong>
                            </a></li></td>
                            <td><li class="list-group-item"><a ui-sref="guru.isikelas.detailpnilai({id_kelas:x.id_kelas})" >
                            <strong>Pengaturan Nilai</strong>
                            </a></li></td>
                            <td><li class="list-group-item" ui-sref-active="active"><a ui-sref="guru.isikelas.detailjadwal({id_kelas:x.id_kelas})" >
                            <strong>Jadwal Pelajaran</strong>
                            </a></li></td>
                        </tr>
                    </table>
                </ul>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" ng-model="search" ng-change="filter()" placeholder="Filter" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <button class="btn btn-block btn-success" ng-click="filter(1)"><i class="fa fa-filter"></i> Filter</button>
                           </div>
                    </div>
                </div>
                <div class="table-responsive" id="table-scroll" full-scroll="">
                    <table class="table table-hover table-bordered issue-tracker">
                        <thead>
                        <tr>
                            <th width="2px">#No</th>
                            <th>Mata pelajaran</th>
                            <th>Jam ngajar</th>
                            <th>Hari</th>
                            <th width="15%">Guru Mata Pelajaran</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="x in isikelas.gurump|filter:search">
                            <td>
                                {{ $index +1}}
                            </td>
                            <td>
                                {{x.mata_pelajaran}}
                            </td>
                            <td>
                                 {{x.jam_ngajar | date: "HH:mm:ss"}}
                            </td>
                            <td>
                                {{x.hari}}
                            </td>
                            <td>
                                {{x.nama_guru}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                </div>
                <ui-view></ui-view>
            </div>
        </div>
    </div>
<script>
    setTimeout(function(){
        fixDetailHeight()
    })
</script>